In [1]:
import numpy as np 
import pandas as pd

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, cross_val_score

# Machine Learning Libraries
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor

# Evaluation Libraries
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score,accuracy_score

# Deep Learning Libraries
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout
from tensorflow.keras.optimizers import Adam

# Hyperparameter Optimization Libraries
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV
import keras_tuner as kt

In [5]:
df=pd.read_excel("Flight_Fare.xlsx")

In [6]:
pd.set_option("display.max_columns",None)

In [7]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [8]:
df['Date_of_Journey'] = pd.to_datetime(df['Date_of_Journey'], format='%d/%m/%Y')

In [9]:
df['Journey_day'] = df['Date_of_Journey'].dt.day
df['Journey_month'] = df['Date_of_Journey'].dt.month
df['Journey_year'] = df['Date_of_Journey'].dt.year

In [10]:
df['Journey_year'].unique()

array([2019], dtype=int32)

In [11]:
df.drop(columns=['Date_of_Journey','Journey_year'], inplace=True)

In [29]:
df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9,4
10679,Air India,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27,4
10680,Jet Airways,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,27,4
10681,Vistara,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,1,3
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,9,5

In [61]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [62]:
df['Total_Stops'].isna().sum()

np.int64(1)

In [30]:
df['Total_Stops'].fillna(df['Total_Stops'].mode()[0], inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_14180\3351361124.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Total_Stops'].fillna(df['Total_Stops'].mode()[0], inplace=True)

In [31]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [32]:
df['Total_Stops'] = df['Total_Stops'].map({'non-stop': 0, '1 stop': 1, '2 stops': 2, '3 stops': 3, '4 stops': 4})

In [33]:
df

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,0,No info,3897,24,3
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2,No info,7662,1,5
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2,No info,13882,9,6
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1,No info,6218,12,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1,No info,13302,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,0,No info,4107,9,4
10679,Air India,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,0,No info,4145,27,4
10680,Jet Airways,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,0,No info,7229,27,4
10681,Vistara,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,0,No info,12648,1,3
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2,No info,11753,9,5

In [34]:
# fill missing values just in case
df["Duration"] = df["Duration"].fillna("0h 0m")

# extract hours and minutes
df["Duration_hours"] = df["Duration"].str.extract(r"(\d+)h").fillna(0).astype(int)
df["Duration_minutes"] = df["Duration"].str.extract(r"(\d+)m").fillna(0).astype(int)

# convert to total minutes
df["Duration_Mins"] = df["Duration_hours"] * 60 + df["Duration_minutes"]

# drop helper columns
df.drop(["Duration_hours", "Duration_minutes", "Duration"], axis=1, inplace=True)

In [48]:
df.head(10)

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Duration_Mins,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Arrival_Day,Arrival_Day_Diff
0,IndiGo,Banglore,New Delhi,BLR → DEL,0,No info,3897,24,3,170,22,20,1,10,22,0
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2,No info,7662,1,5,445,5,50,13,15,17,0
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2,No info,13882,9,6,1140,9,25,4,25,10,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1,No info,6218,12,5,325,18,5,23,30,17,0
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1,No info,13302,1,3,285,16,50,21,35,17,0
5,SpiceJet,Kolkata,Banglore,CCU → BLR,0,No info,3873,24,6,145,9,0,11,25,17,0
6,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,1,In-flight meal not included,11087,12,3,930,18,55,10,25,13,0
7,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,1,No info,22270,1,3,1265,8,0,5,5,2,0
8,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,1,In-flight meal not included,11087,12,3,1530,8,55,10,25,13,1
9,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,1,No info,8625,27,5,470,11,25,19,15,17,0

In [37]:
df['Dep_Time'] = pd.to_datetime(df['Dep_Time'], format='%H:%M')

In [38]:
df['Dep_hour']=df['Dep_Time'].dt.hour
df['Dep_min']=df['Dep_Time'].dt.minute

df.drop(['Dep_Time'],axis=1,inplace=True)

In [39]:
df["Arrival_Time"] = pd.to_datetime(df["Arrival_Time"],errors="coerce",infer_datetime_format=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_14180\2017586074.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["Arrival_Time"] = pd.to_datetime(df["Arrival_Time"],errors="coerce",infer_datetime_format=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14180\2017586074.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Arrival_Time"] = pd.to_datetime(df["Arrival_Time"],errors="coerce",infer_datetime_format=True)

In [40]:
df['Arrival_hour']=df['Arrival_Time'].dt.hour
df['Arrival_min']=df['Arrival_Time'].dt.minute
df["Arrival_Day"] = df["Arrival_Time"].dt.day

df["Arrival_Day_Diff"] = df['Duration_Mins'] // (24*60)


df.drop(['Arrival_Time'],axis=1,inplace=True)

In [41]:
df.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Duration_Mins,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Arrival_Day,Arrival_Day_Diff
0,IndiGo,Banglore,New Delhi,BLR → DEL,0,No info,3897,24,3,170,22,20,1,10,22,0
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2,No info,7662,1,5,445,5,50,13,15,17,0
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2,No info,13882,9,6,1140,9,25,4,25,10,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1,No info,6218,12,5,325,18,5,23,30,17,0
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1,No info,13302,1,3,285,16,50,21,35,17,0

In [184]:
df["Route_Legs"] = df["Route"].str.count("→") + 1
df["Route_Legs"] = df["Route_Legs"].fillna(1).astype(int)

df["Main_Layover"] = (df["Route"].fillna("Direct").str.split("→").apply(lambda x: x[1] if len(x) > 2 else "Direct"))


df.drop(['Route'], axis=1, inplace=True)

In [185]:
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Duration_Mins,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Arrival_Day,Arrival_Day_Diff,Route_Legs,Main_Layover
0,IndiGo,Banglore,New Delhi,0,No info,3897,24,3,170,22,20,1,10,22,0,2,Direct
1,Air India,Kolkata,Banglore,2,No info,7662,1,5,445,5,50,13,15,17,0,4,IXR
2,Jet Airways,Delhi,Cochin,2,No info,13882,9,6,1140,9,25,4,25,10,0,4,LKO
3,IndiGo,Kolkata,Banglore,1,No info,6218,12,5,325,18,5,23,30,17,0,3,NAG
4,IndiGo,Banglore,New Delhi,1,No info,13302,1,3,285,16,50,21,35,17,0,3,NAG

In [186]:
top_layovers = df["Main_Layover"].value_counts().nlargest(5).index

df["Main_Layover"] = df["Main_Layover"].where(
    df["Main_Layover"].isin(top_layovers),
    "Other"
)

In [187]:
cat_cols = ['Airline', 'Source', 'Destination', 'Main_Layover']

df = pd.get_dummies(df, columns=cat_cols, drop_first=True,dtype=int)

In [188]:
df.head()

,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Duration_Mins,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Arrival_Day,Arrival_Day_Diff,Route_Legs,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi,Main_Layover_ BOM,Main_Layover_ DEL,Main_Layover_ HYD,Main_Layover_Direct,Main_Layover_Other
0,0,No info,3897,24,3,170,22,20,1,10,22,0,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
1,2,No info,7662,1,5,445,5,50,13,15,17,0,4,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
2,2,No info,13882,9,6,1140,9,25,4,25,10,0,4,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1
3,1,No info,6218,12,5,325,18,5,23,30,17,0,3,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
4,1,No info,13302,1,3,285,16,50,21,35,17,0,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1

In [189]:
df['Additional_Info'].value_counts()

Additional_Info
No info                         8345
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
1 Short layover                    1
Red-eye flight                     1
2 Long layover                     1
Name: count, dtype: int64

In [190]:
df.drop(['Additional_Info'], axis=1, inplace=True)

In [106]:
num_cols = df.select_dtypes(exclude=["object", "category"]).columns
print(num_cols)

Index(['Total_Stops', 'Price', 'Journey_day', 'Journey_month', 'Journey_year',
       'Duration_Mins', 'Dep_hour', 'Dep_min', 'Arrival_hour', 'Arrival_min',
       'Arrival_Day', 'Arrival_Day_Diff', 'Route_Legs', 'Airline_Air India',
       'Airline_GoAir', 'Airline_IndiGo', 'Airline_Jet Airways',
       'Airline_Jet Airways Business', 'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Source_Chennai', 'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai',
       'Destination_Cochin', 'Destination_Delhi', 'Destination_Hyderabad',
       'Destination_Kolkata', 'Destination_New Delhi', 'Main_Layover_ BOM ',
       'Main_Layover_ DEL ', 'Main_Layover_ HYD ', 'Main_Layover_Direct',
       'Main_Layover_Other'],
      dtype='object')

In [191]:
num_cols = [
    "Duration_Mins",
    "Journey_day",
    "Journey_month",
    "Dep_hour",
    "Dep_min",
    "Arrival_hour",
    "Arrival_min",
    "Arrival_Day"
]

In [ ]:
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

In [162]:
x = df.drop('Price', axis=1)
y = df['Price']

In [163]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [164]:
def adjusted_r2(r2,n,p):
    return 1-((1-r2)*(n-1)/(n-p-1))

In [165]:
n = x_test.shape[0]      # number of rows
p = x_test.shape[1]      # number of features

In [166]:
lr = LinearRegression()
lr.fit(x_train,y_train)

y_pred=lr.predict(x_test)

print("MAE:",mean_absolute_error(y_test,y_pred))
print("RMSE:",np.sqrt(mean_squared_error(y_test,y_pred)))
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)
print("Adjusted R2:", adjusted_r2(r2, n, p))

MAE: 1926.479503519932
RMSE: 2761.946429523046
R2 Score: 0.6395596147014337
Adjusted R2: 0.633380636667744

In [167]:
lr = LinearRegression()
kf = KFold(n_splits=10, shuffle=True, random_state=42)

# cross-validation (R² score)
scores = cross_val_score(lr, x, y, cv=kf, scoring='r2')

print("R2 Score:", scores)
print("mean:",np.mean(scores))
print("Adjusted R2:", adjusted_r2(np.mean(scores), n, p))

R2 Score: [0.64403438 0.63310172 0.6487337  0.65959748 0.67348867 0.62544342
 0.68919656 0.6082253  0.59435443 0.64073732]
mean: 0.6416912976728523
Adjusted R2: 0.6355488627758155

In [95]:
svr = SVR(kernel='rbf', C=100, gamma=0.1, epsilon=.1)

svr.fit(x_train, y_train)

y_pred = svr.predict(x_test)


print("MAE:",mean_absolute_error(y_test,y_pred))
print("RMSE:",np.sqrt(mean_squared_error(y_test,y_pred)))
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)
print("Adjusted R2:", adjusted_r2(r2, n, p))

MAE: 1817.286253988839
RMSE: 2978.315526298861
R2 Score: 0.5808742392207626
Adjusted R2: 0.5736892261788329

In [64]:
from sklearn.model_selection import RandomizedSearchCV
import numpy as np

model=SVR()

param_dist = {
    'C': np.logspace(-2, 3, 50),
    'epsilon': np.linspace(0.01, 0.5, 20),
    'gamma': np.logspace(-3, 1, 50),
    'kernel': ['rbf']
}

random_search = RandomizedSearchCV(
    model,
    param_dist,
    n_iter=30,
    cv=5,
    scoring='r2',
    random_state=42,
    n_jobs=-1
)

random_search.fit(x_train,y_train)
best_model = random_search.best_estimator_
y_pred=best_model.predict(x_test)
print("MAE:",mean_absolute_error(y_test,y_pred))
print("RMSE:",np.sqrt(mean_squared_error(y_test,y_pred)))
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)
print("Adjusted R2:", adjusted_r2(r2, n, p))

MAE: 1687.0744438811537
RMSE: 2933.884404886725
R2 Score: 0.593286169586944
Adjusted R2: 0.5863139324941488

In [96]:
rf = RandomForestRegressor(
    n_estimators=200,
    max_depth=10,
    min_samples_split=2,
    random_state=42,
    n_jobs=-1
)

rf.fit(x_train, y_train)

y_pred = rf.predict(x_test)

print("MAE:",mean_absolute_error(y_test,y_pred))
print("RMSE:",np.sqrt(mean_squared_error(y_test,y_pred)))
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)
print("Adjusted R2:", adjusted_r2(r2, n, p))

MAE: 1245.9492095281837
RMSE: 1962.1544042571186
R2 Score: 0.8180846682509058
Adjusted R2: 0.8149661197066356

In [72]:
model=RandomForestRegressor()
param_dist = {
    'n_estimators': [100, 200, 300, 500],
    'max_depth': [None, 10, 20, 30, 40],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['sqrt', 'log2', None],
    'bootstrap': [True, False]
}

random_search = RandomizedSearchCV(
    estimator=model,
    param_distributions=param_dist,
    n_iter=30,
    cv=5,
    scoring='r2',
    n_jobs=-1,
    random_state=42
)

random_search.fit(x_train,y_train)
best_model = random_search.best_estimator_
y_pred=best_model.predict(x_test)
print("MAE:",mean_absolute_error(y_test,y_pred))
print("RMSE:",np.sqrt(mean_squared_error(y_test,y_pred)))
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)
print("Adjusted R2:", adjusted_r2(r2, n, p))

MAE: 1213.5794389757934
RMSE: 1915.7575423530081
R2 Score: 0.8265860495416247
Adjusted R2: 0.8236132389623383

In [168]:
xgb = XGBRegressor(
    n_estimators=300,
    learning_rate=0.05,
    max_depth=6,
    subsample=0.8,
    colsample_bytree=0.8,
    objective="reg:squarederror",
    random_state=42
)

xgb.fit(x_train, y_train)

y_pred = xgb.predict(x_test)

print("MAE:",mean_absolute_error(y_test,y_pred))
print("RMSE:",np.sqrt(mean_squared_error(y_test,y_pred)))
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)
print("Adjusted R2:", adjusted_r2(r2, n, p))

MAE: 1159.572021484375
RMSE: 1767.7410726687322
R2 Score: 0.8523476719856262
Adjusted R2: 0.8498164892196656

In [70]:
model=XGBRegressor()

param_dist = {
    'n_estimators': [100, 200, 300, 500],
    'learning_rate': [0.01, 0.05, 0.1, 0.2],
    'max_depth': [3, 4, 5, 6, 8],
    'subsample': [0.6, 0.7, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.7, 0.8, 1.0],
    'gamma': [0, 0.1, 0.2],
    'min_child_weight': [1, 3, 5]
}

random_search = RandomizedSearchCV(
    estimator=model,
    param_distributions=param_dist,
    n_iter=30,
    cv=5,
    scoring='r2',
    n_jobs=-1,
    random_state=42
)

random_search.fit(x_train,y_train)
best_model = random_search.best_estimator_
y_pred=best_model.predict(x_test)
print("MAE:",mean_absolute_error(y_test,y_pred))
print("RMSE:",np.sqrt(mean_squared_error(y_test,y_pred)))
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)
print("Adjusted R2:", adjusted_r2(r2, n, p))

MAE: 1212.6085205078125
RMSE: 1832.941352035029
R2 Score: 0.8412550091743469
Adjusted R2: 0.8385336664744786

In [98]:
catboost = CatBoostRegressor(
    iterations=500,
    learning_rate=0.05,
    depth=6,
    l2_leaf_reg=3,
    loss_function="RMSE",
    random_seed=42,
    verbose=0
)

catboost.fit(x_train, y_train)

y_pred = catboost.predict(x_test)

print("MAE:",mean_absolute_error(y_test,y_pred))
print("RMSE:",np.sqrt(mean_squared_error(y_test,y_pred)))
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)
print("Adjusted R2:", adjusted_r2(r2, n, p))

MAE: 1248.4819047772571
RMSE: 1807.4850895524817
R2 Score: 0.845633737062353
Adjusted R2: 0.8429874582691361

In [77]:
model=CatBoostRegressor()
param_dist = {
    'depth': [4, 6, 8, 10],
    'learning_rate': [0.01, 0.05, 0.1],
    'iterations': [300, 500, 800],
    'l2_leaf_reg': [1, 3, 5, 7, 9],
    'bagging_temperature': [0, 0.5, 1, 2]
}

random_search = RandomizedSearchCV(
    estimator=model,
    param_distributions=param_dist,
    n_iter=30,
    cv=5,
    scoring='neg_mean_squared_error',
    n_jobs=-1,
    random_state=42
)

random_search.fit(x_train,y_train)
best_model = random_search.best_estimator_
y_pred=best_model.predict(x_test)
print("MAE:",mean_absolute_error(y_test,y_pred))
print("RMSE:",np.sqrt(mean_squared_error(y_test,y_pred)))
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)
print("Adjusted R2:", adjusted_r2(r2, n, p))

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
10 fits failed out of a total of 150.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
    ~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Admin\anaconda3\Lib\site-packages\catboost\core.py", line 5873, in fit
    return self._fit(X, y, cat_features, text_features, embedding_features, None, graph, sample_weight, None, None, None, None, baseline,
           ~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                     use_best_model, eval_set, verbose, logging_level, plot, plot_file, column_description,
                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                     verbose_eval, metric_period, silent, early_stopping_rounds,
                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                     save_snapshot, snapshot_file, snapshot_interval, init_model, callbacks, log_cout, log_cerr)
                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Admin\anaconda3\Lib\site-packages\catboost\core.py", line 2410, in _fit
    self._train(
    ~~~~~~~~~~~^
        train_pool,
        ^^^^^^^^^^^
    ...<3 lines>...
        train_params["init_model"]
        ^^^^^^^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "C:\Users\Admin\anaconda3\Lib\site-packages\catboost\core.py", line 1790, in _train
    self._object._train(train_pool, test_pool, params, allow_clear_pool, init_model._object if init_model else None)
    ~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "_catboost.pyx", line 5023, in _catboost._CatBoost._train
  File "_catboost.pyx", line 5072, in _catboost._CatBoost._train
_catboost.CatBoostError: catboost/libs/train_lib/dir_helper.cpp:20: Can't create train working dir: catboost_info

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [              nan               nan               nan -5690845.7513193
 -5504186.74449244 -3445496.90137449 -5078143.32530706 -4014821.41148042
 -3660722.8236715  -4882534.65162434 -3808429.3319248  -3633234.68187548
 -5473909.78040604 -3572992.02636131 -3852594.1108453  -4194021.33039356
 -3449666.96861722 -5236627.33868857 -3512398.22982837 -5026206.42297843
 -3449666.96861722 -4526199.88190227 -5026206.42297843 -3534105.16675719
 -3723161.09542666 -3599130.29436604 -3515059.41429638 -4882534.65162434
 -4030311.08385751 -3471271.99503356]
  warnings.warn(

0:	learn: 4361.4477566	total: 157ms	remaining: 1m 18s
1:	learn: 4124.0745170	total: 166ms	remaining: 41.3s
2:	learn: 3935.8285672	total: 173ms	remaining: 28.7s
3:	learn: 3749.5394925	total: 181ms	remaining: 22.4s
4:	learn: 3600.8900978	total: 189ms	remaining: 18.7s
5:	learn: 3448.5303630	total: 197ms	remaining: 16.2s
6:	learn: 3329.6493476	total: 205ms	remaining: 14.4s
7:	learn: 3232.2780473	total: 212ms	remaining: 13.1s
8:	learn: 3115.8063902	total: 220ms	remaining: 12s
9:	learn: 3017.7733968	total: 228ms	remaining: 11.2s
10:	learn: 2928.0033483	total: 235ms	remaining: 10.5s
11:	learn: 2872.7223612	total: 244ms	remaining: 9.91s
12:	learn: 2816.6019363	total: 253ms	remaining: 9.46s
13:	learn: 2749.0160880	total: 261ms	remaining: 9.05s
14:	learn: 2713.3355758	total: 269ms	remaining: 8.69s
15:	learn: 2680.2757986	total: 277ms	remaining: 8.38s
16:	learn: 2646.5756760	total: 285ms	remaining: 8.1s
17:	learn: 2595.4315148	total: 293ms	remaining: 7.85s
18:	learn: 2556.4851984	total: 301ms	remaining: 7.63s
19:	learn: 2526.7151585	total: 309ms	remaining: 7.42s
20:	learn: 2504.9389374	total: 318ms	remaining: 7.25s
21:	learn: 2470.4105338	total: 325ms	remaining: 7.07s
22:	learn: 2440.3707593	total: 333ms	remaining: 6.92s
23:	learn: 2413.8830222	total: 342ms	remaining: 6.78s
24:	learn: 2401.0596133	total: 350ms	remaining: 6.65s
25:	learn: 2379.9498374	total: 360ms	remaining: 6.56s
26:	learn: 2364.0423964	total: 368ms	remaining: 6.45s
27:	learn: 2345.9834826	total: 376ms	remaining: 6.34s
28:	learn: 2332.9794073	total: 384ms	remaining: 6.24s
29:	learn: 2315.2983456	total: 392ms	remaining: 6.14s
30:	learn: 2300.6465657	total: 400ms	remaining: 6.04s
31:	learn: 2281.8941009	total: 408ms	remaining: 5.96s
32:	learn: 2273.5658039	total: 416ms	remaining: 5.89s
33:	learn: 2265.8370208	total: 424ms	remaining: 5.81s
34:	learn: 2247.2856317	total: 432ms	remaining: 5.74s
35:	learn: 2236.2819233	total: 440ms	remaining: 5.67s
36:	learn: 2227.7067202	total: 448ms	remaining: 5.6s
37:	learn: 2220.9992759	total: 455ms	remaining: 5.53s
38:	learn: 2215.0896502	total: 463ms	remaining: 5.47s
39:	learn: 2198.1826102	total: 471ms	remaining: 5.42s
40:	learn: 2184.2672420	total: 479ms	remaining: 5.36s
41:	learn: 2178.8632744	total: 487ms	remaining: 5.31s
42:	learn: 2171.2189179	total: 495ms	remaining: 5.26s
43:	learn: 2158.8597374	total: 504ms	remaining: 5.22s
44:	learn: 2146.9217311	total: 511ms	remaining: 5.17s
45:	learn: 2139.9940056	total: 519ms	remaining: 5.12s
46:	learn: 2134.4532090	total: 527ms	remaining: 5.08s
47:	learn: 2124.7942703	total: 535ms	remaining: 5.04s
48:	learn: 2118.4368237	total: 544ms	remaining: 5s
49:	learn: 2111.0209445	total: 552ms	remaining: 4.97s
50:	learn: 2102.7740634	total: 561ms	remaining: 4.94s
51:	learn: 2094.7768674	total: 570ms	remaining: 4.91s
52:	learn: 2086.2973782	total: 578ms	remaining: 4.87s
53:	learn: 2078.5301345	total: 592ms	remaining: 4.89s
54:	learn: 2072.9243297	total: 601ms	remaining: 4.86s
55:	learn: 2067.5485669	total: 607ms	remaining: 4.82s
56:	learn: 2060.7247288	total: 614ms	remaining: 4.77s
57:	learn: 2055.0888540	total: 626ms	remaining: 4.77s
58:	learn: 2048.8713797	total: 633ms	remaining: 4.73s
59:	learn: 2044.5172362	total: 638ms	remaining: 4.68s
60:	learn: 2042.3087938	total: 643ms	remaining: 4.63s
61:	learn: 2037.2962176	total: 649ms	remaining: 4.59s
62:	learn: 2034.4879752	total: 656ms	remaining: 4.55s
63:	learn: 2030.2409098	total: 663ms	remaining: 4.51s
64:	learn: 2024.3858207	total: 671ms	remaining: 4.49s
65:	learn: 2022.7685040	total: 679ms	remaining: 4.46s
66:	learn: 2013.7844236	total: 687ms	remaining: 4.44s
67:	learn: 2009.3482127	total: 695ms	remaining: 4.41s
68:	learn: 2005.7318331	total: 703ms	remaining: 4.39s
69:	learn: 2001.4589824	total: 712ms	remaining: 4.37s
70:	learn: 1995.7584604	total: 721ms	remaining: 4.35s
71:	learn: 1990.5952101	total: 729ms	remaining: 4.33s
72:	learn: 1986.5197876	total: 737ms	remaining: 4.31s
73:	learn: 1980.2449723	total: 746ms	remaining: 4.29s
74:	learn: 1977.0243732	total: 754ms	remaining: 4.27s
75:	learn: 1971.4821014	total: 762ms	remaining: 4.25s
76:	learn: 1968.3184166	total: 771ms	remaining: 4.23s
77:	learn: 1963.1063016	total: 779ms	remaining: 4.22s
78:	learn: 1959.3424008	total: 787ms	remaining: 4.2s
79:	learn: 1955.4826627	total: 796ms	remaining: 4.18s
80:	learn: 1951.0013817	total: 804ms	remaining: 4.16s
81:	learn: 1946.2940430	total: 812ms	remaining: 4.14s
82:	learn: 1943.1245828	total: 820ms	remaining: 4.12s
83:	learn: 1937.1417425	total: 829ms	remaining: 4.1s
84:	learn: 1933.2746876	total: 837ms	remaining: 4.08s
85:	learn: 1929.2221101	total: 845ms	remaining: 4.07s
86:	learn: 1926.1187334	total: 853ms	remaining: 4.05s
87:	learn: 1920.0948691	total: 862ms	remaining: 4.03s
88:	learn: 1915.9316565	total: 870ms	remaining: 4.02s
89:	learn: 1911.0940495	total: 878ms	remaining: 4s
90:	learn: 1906.8924529	total: 886ms	remaining: 3.98s
91:	learn: 1901.6112768	total: 894ms	remaining: 3.96s
92:	learn: 1900.1739397	total: 902ms	remaining: 3.95s
93:	learn: 1898.4426875	total: 910ms	remaining: 3.93s
94:	learn: 1894.5039075	total: 919ms	remaining: 3.92s
95:	learn: 1892.4950276	total: 927ms	remaining: 3.9s
96:	learn: 1891.0786349	total: 935ms	remaining: 3.88s
97:	learn: 1887.4025082	total: 943ms	remaining: 3.87s
98:	learn: 1883.3331853	total: 952ms	remaining: 3.85s
99:	learn: 1880.9366079	total: 960ms	remaining: 3.84s
100:	learn: 1879.5515152	total: 969ms	remaining: 3.83s
101:	learn: 1877.6086247	total: 977ms	remaining: 3.81s
102:	learn: 1874.1879290	total: 986ms	remaining: 3.8s
103:	learn: 1870.4655229	total: 994ms	remaining: 3.78s
104:	learn: 1869.9812852	total: 1s	remaining: 3.77s
105:	learn: 1868.3022540	total: 1.01s	remaining: 3.75s
106:	learn: 1865.4261361	total: 1.02s	remaining: 3.74s
107:	learn: 1863.1152841	total: 1.03s	remaining: 3.72s
108:	learn: 1861.1256956	total: 1.03s	remaining: 3.71s
109:	learn: 1852.0808248	total: 1.04s	remaining: 3.7s
110:	learn: 1849.5931625	total: 1.05s	remaining: 3.68s
111:	learn: 1846.8043706	total: 1.06s	remaining: 3.67s
112:	learn: 1841.4269942	total: 1.07s	remaining: 3.65s
113:	learn: 1839.0197386	total: 1.07s	remaining: 3.64s
114:	learn: 1837.3932197	total: 1.08s	remaining: 3.62s
115:	learn: 1835.8861369	total: 1.09s	remaining: 3.61s
116:	learn: 1832.2123051	total: 1.1s	remaining: 3.59s
117:	learn: 1831.0129401	total: 1.1s	remaining: 3.58s
118:	learn: 1825.9734341	total: 1.11s	remaining: 3.56s
119:	learn: 1823.4263373	total: 1.12s	remaining: 3.55s
120:	learn: 1820.0658925	total: 1.13s	remaining: 3.54s
121:	learn: 1817.5452859	total: 1.14s	remaining: 3.52s
122:	learn: 1813.1093419	total: 1.15s	remaining: 3.51s
123:	learn: 1812.5529329	total: 1.15s	remaining: 3.5s
124:	learn: 1809.3351281	total: 1.16s	remaining: 3.48s
125:	learn: 1805.9678557	total: 1.17s	remaining: 3.47s
126:	learn: 1804.4716551	total: 1.18s	remaining: 3.46s
127:	learn: 1801.6210618	total: 1.19s	remaining: 3.45s
128:	learn: 1800.0592572	total: 1.2s	remaining: 3.44s
129:	learn: 1795.9400822	total: 1.2s	remaining: 3.43s
130:	learn: 1793.7821979	total: 1.21s	remaining: 3.42s
131:	learn: 1790.6373730	total: 1.22s	remaining: 3.41s
132:	learn: 1788.5172863	total: 1.23s	remaining: 3.39s
133:	learn: 1786.4705285	total: 1.24s	remaining: 3.38s
134:	learn: 1784.3391782	total: 1.25s	remaining: 3.37s
135:	learn: 1782.5756861	total: 1.25s	remaining: 3.36s
136:	learn: 1780.1882677	total: 1.26s	remaining: 3.35s
137:	learn: 1779.0763982	total: 1.27s	remaining: 3.33s
138:	learn: 1776.1629821	total: 1.28s	remaining: 3.32s
139:	learn: 1773.7540757	total: 1.29s	remaining: 3.31s
140:	learn: 1772.5594402	total: 1.29s	remaining: 3.29s
141:	learn: 1771.1005016	total: 1.3s	remaining: 3.28s
142:	learn: 1767.2102546	total: 1.31s	remaining: 3.27s
143:	learn: 1764.5598725	total: 1.32s	remaining: 3.26s
144:	learn: 1762.9877508	total: 1.33s	remaining: 3.25s
145:	learn: 1759.2912529	total: 1.33s	remaining: 3.24s
146:	learn: 1758.5684077	total: 1.34s	remaining: 3.23s
147:	learn: 1756.5809985	total: 1.35s	remaining: 3.21s
148:	learn: 1753.9955235	total: 1.36s	remaining: 3.2s
149:	learn: 1751.1122411	total: 1.37s	remaining: 3.19s
150:	learn: 1749.9138197	total: 1.38s	remaining: 3.18s
151:	learn: 1747.7736564	total: 1.38s	remaining: 3.17s
152:	learn: 1746.5261385	total: 1.39s	remaining: 3.16s
153:	learn: 1745.4551228	total: 1.4s	remaining: 3.15s
154:	learn: 1744.3334396	total: 1.41s	remaining: 3.13s
155:	learn: 1741.3911600	total: 1.42s	remaining: 3.12s
156:	learn: 1739.7485796	total: 1.43s	remaining: 3.11s
157:	learn: 1738.3367404	total: 1.43s	remaining: 3.1s
158:	learn: 1737.8902922	total: 1.44s	remaining: 3.09s
159:	learn: 1735.6605218	total: 1.45s	remaining: 3.08s
160:	learn: 1733.2665797	total: 1.46s	remaining: 3.07s
161:	learn: 1730.8214098	total: 1.47s	remaining: 3.06s
162:	learn: 1726.2651188	total: 1.47s	remaining: 3.05s
163:	learn: 1720.8577960	total: 1.48s	remaining: 3.04s
164:	learn: 1720.1047306	total: 1.49s	remaining: 3.02s
165:	learn: 1716.7396126	total: 1.5s	remaining: 3.02s
166:	learn: 1711.9932759	total: 1.51s	remaining: 3s
167:	learn: 1710.0565769	total: 1.51s	remaining: 2.99s
168:	learn: 1708.0030770	total: 1.52s	remaining: 2.98s
169:	learn: 1703.0388991	total: 1.53s	remaining: 2.97s
170:	learn: 1702.3683342	total: 1.54s	remaining: 2.96s
171:	learn: 1701.4227140	total: 1.55s	remaining: 2.95s
172:	learn: 1700.0836088	total: 1.55s	remaining: 2.94s
173:	learn: 1698.5750644	total: 1.56s	remaining: 2.93s
174:	learn: 1697.6925863	total: 1.57s	remaining: 2.92s
175:	learn: 1695.3461210	total: 1.58s	remaining: 2.91s
176:	learn: 1695.1387485	total: 1.59s	remaining: 2.9s
177:	learn: 1692.2091681	total: 1.6s	remaining: 2.89s
178:	learn: 1690.6484765	total: 1.6s	remaining: 2.88s
179:	learn: 1688.9545832	total: 1.61s	remaining: 2.87s
180:	learn: 1688.4333579	total: 1.62s	remaining: 2.85s
181:	learn: 1688.2349913	total: 1.63s	remaining: 2.84s
182:	learn: 1685.9624879	total: 1.64s	remaining: 2.83s
183:	learn: 1685.8817081	total: 1.64s	remaining: 2.82s
184:	learn: 1684.6555770	total: 1.65s	remaining: 2.81s
185:	learn: 1682.6634307	total: 1.66s	remaining: 2.8s
186:	learn: 1681.3222976	total: 1.67s	remaining: 2.79s
187:	learn: 1679.4218623	total: 1.68s	remaining: 2.78s
188:	learn: 1678.5391680	total: 1.68s	remaining: 2.77s
189:	learn: 1675.7755923	total: 1.69s	remaining: 2.76s
190:	learn: 1675.7003719	total: 1.7s	remaining: 2.75s
191:	learn: 1675.5494982	total: 1.71s	remaining: 2.73s
192:	learn: 1673.4441519	total: 1.71s	remaining: 2.72s
193:	learn: 1671.2284936	total: 1.72s	remaining: 2.71s
194:	learn: 1671.0853089	total: 1.73s	remaining: 2.7s
195:	learn: 1669.6264057	total: 1.74s	remaining: 2.69s
196:	learn: 1668.5235313	total: 1.74s	remaining: 2.68s
197:	learn: 1666.7434437	total: 1.75s	remaining: 2.67s
198:	learn: 1665.1205280	total: 1.76s	remaining: 2.66s
199:	learn: 1661.8787927	total: 1.77s	remaining: 2.65s
200:	learn: 1661.7988852	total: 1.77s	remaining: 2.64s
201:	learn: 1658.4315392	total: 1.78s	remaining: 2.63s
202:	learn: 1656.7348473	total: 1.79s	remaining: 2.62s
203:	learn: 1654.8615596	total: 1.8s	remaining: 2.61s
204:	learn: 1653.4327859	total: 1.81s	remaining: 2.6s
205:	learn: 1652.2129234	total: 1.82s	remaining: 2.59s
206:	learn: 1651.3690923	total: 1.83s	remaining: 2.58s
207:	learn: 1649.4897005	total: 1.83s	remaining: 2.57s
208:	learn: 1649.4733534	total: 1.84s	remaining: 2.56s
209:	learn: 1647.7843299	total: 1.85s	remaining: 2.55s
210:	learn: 1647.7144908	total: 1.86s	remaining: 2.54s
211:	learn: 1647.6996325	total: 1.86s	remaining: 2.53s
212:	learn: 1645.9316373	total: 1.87s	remaining: 2.52s
213:	learn: 1644.3882348	total: 1.88s	remaining: 2.51s
214:	learn: 1643.0511775	total: 1.89s	remaining: 2.5s
215:	learn: 1639.4951564	total: 1.89s	remaining: 2.49s
216:	learn: 1638.2184686	total: 1.9s	remaining: 2.48s
217:	learn: 1638.2042216	total: 1.91s	remaining: 2.47s
218:	learn: 1636.5144702	total: 1.92s	remaining: 2.46s
219:	learn: 1635.3307490	total: 1.93s	remaining: 2.45s
220:	learn: 1632.7456981	total: 1.94s	remaining: 2.44s
221:	learn: 1631.1177171	total: 1.94s	remaining: 2.43s
222:	learn: 1629.8477810	total: 1.95s	remaining: 2.42s
223:	learn: 1627.2118481	total: 1.96s	remaining: 2.42s
224:	learn: 1625.5552690	total: 1.97s	remaining: 2.41s
225:	learn: 1625.5417015	total: 1.98s	remaining: 2.39s
226:	learn: 1624.7235173	total: 1.98s	remaining: 2.38s
227:	learn: 1621.4604143	total: 1.99s	remaining: 2.38s
228:	learn: 1618.7541606	total: 2s	remaining: 2.37s
229:	learn: 1617.3892321	total: 2.01s	remaining: 2.36s
230:	learn: 1615.2172468	total: 2.02s	remaining: 2.35s
231:	learn: 1613.5343427	total: 2.03s	remaining: 2.34s
232:	learn: 1611.4166737	total: 2.04s	remaining: 2.33s
233:	learn: 1610.2849294	total: 2.04s	remaining: 2.32s
234:	learn: 1608.7134924	total: 2.05s	remaining: 2.31s
235:	learn: 1607.5003307	total: 2.06s	remaining: 2.31s
236:	learn: 1607.3658543	total: 2.07s	remaining: 2.29s
237:	learn: 1605.6634202	total: 2.08s	remaining: 2.29s
238:	learn: 1604.5865730	total: 2.08s	remaining: 2.28s
239:	learn: 1604.5729262	total: 2.09s	remaining: 2.26s
240:	learn: 1604.3490885	total: 2.1s	remaining: 2.25s
241:	learn: 1602.8208412	total: 2.11s	remaining: 2.25s
242:	learn: 1602.7330234	total: 2.11s	remaining: 2.23s
243:	learn: 1602.7213562	total: 2.12s	remaining: 2.22s
244:	learn: 1601.1327146	total: 2.13s	remaining: 2.21s
245:	learn: 1601.1198075	total: 2.13s	remaining: 2.2s
246:	learn: 1600.1734696	total: 2.14s	remaining: 2.19s
247:	learn: 1600.1616546	total: 2.15s	remaining: 2.18s
248:	learn: 1598.8440081	total: 2.15s	remaining: 2.17s
249:	learn: 1597.8368203	total: 2.16s	remaining: 2.16s
250:	learn: 1596.6440789	total: 2.17s	remaining: 2.15s
251:	learn: 1595.7313770	total: 2.18s	remaining: 2.15s
252:	learn: 1594.5965325	total: 2.19s	remaining: 2.14s
253:	learn: 1594.5848807	total: 2.19s	remaining: 2.13s
254:	learn: 1593.2060658	total: 2.2s	remaining: 2.12s
255:	learn: 1591.5740701	total: 2.21s	remaining: 2.11s
256:	learn: 1591.3821297	total: 2.22s	remaining: 2.1s
257:	learn: 1590.0988182	total: 2.23s	remaining: 2.09s
258:	learn: 1587.7458289	total: 2.23s	remaining: 2.08s
259:	learn: 1585.9142915	total: 2.24s	remaining: 2.07s
260:	learn: 1583.1550760	total: 2.25s	remaining: 2.06s
261:	learn: 1580.5014460	total: 2.26s	remaining: 2.05s
262:	learn: 1579.3135180	total: 2.27s	remaining: 2.04s
263:	learn: 1577.4998468	total: 2.28s	remaining: 2.04s
264:	learn: 1576.8500488	total: 2.29s	remaining: 2.03s
265:	learn: 1575.4176046	total: 2.29s	remaining: 2.02s
266:	learn: 1574.8102749	total: 2.3s	remaining: 2.01s
267:	learn: 1573.9695110	total: 2.31s	remaining: 2s
268:	learn: 1573.0188877	total: 2.32s	remaining: 1.99s
269:	learn: 1571.2593336	total: 2.33s	remaining: 1.98s
270:	learn: 1570.1831624	total: 2.33s	remaining: 1.97s
271:	learn: 1569.1840002	total: 2.34s	remaining: 1.96s
272:	learn: 1566.1379400	total: 2.35s	remaining: 1.96s
273:	learn: 1565.4746436	total: 2.36s	remaining: 1.95s
274:	learn: 1565.2832322	total: 2.37s	remaining: 1.94s
275:	learn: 1564.6717482	total: 2.38s	remaining: 1.93s
276:	learn: 1561.3556867	total: 2.38s	remaining: 1.92s
277:	learn: 1561.3448205	total: 2.39s	remaining: 1.91s
278:	learn: 1560.2941447	total: 2.4s	remaining: 1.9s
279:	learn: 1559.5413403	total: 2.41s	remaining: 1.89s
280:	learn: 1558.9687735	total: 2.42s	remaining: 1.88s
281:	learn: 1558.8928596	total: 2.42s	remaining: 1.87s
282:	learn: 1558.5069688	total: 2.43s	remaining: 1.86s
283:	learn: 1555.5765986	total: 2.44s	remaining: 1.85s
284:	learn: 1553.9886988	total: 2.45s	remaining: 1.85s
285:	learn: 1553.9786459	total: 2.45s	remaining: 1.83s
286:	learn: 1552.9124516	total: 2.46s	remaining: 1.83s
287:	learn: 1551.0598766	total: 2.47s	remaining: 1.82s
288:	learn: 1549.5416106	total: 2.48s	remaining: 1.81s
289:	learn: 1548.0481741	total: 2.49s	remaining: 1.8s
290:	learn: 1546.3804527	total: 2.49s	remaining: 1.79s
291:	learn: 1544.8063476	total: 2.5s	remaining: 1.78s
292:	learn: 1543.6246940	total: 2.51s	remaining: 1.77s
293:	learn: 1541.7920489	total: 2.52s	remaining: 1.76s
294:	learn: 1540.8582884	total: 2.53s	remaining: 1.76s
295:	learn: 1540.7912947	total: 2.54s	remaining: 1.75s
296:	learn: 1539.7362587	total: 2.54s	remaining: 1.74s
297:	learn: 1538.7931279	total: 2.55s	remaining: 1.73s
298:	learn: 1537.7069462	total: 2.56s	remaining: 1.72s
299:	learn: 1536.9478360	total: 2.57s	remaining: 1.71s
300:	learn: 1535.9900950	total: 2.58s	remaining: 1.7s
301:	learn: 1534.3292725	total: 2.58s	remaining: 1.69s
302:	learn: 1532.9464062	total: 2.59s	remaining: 1.69s
303:	learn: 1531.0830349	total: 2.6s	remaining: 1.68s
304:	learn: 1530.8573126	total: 2.61s	remaining: 1.67s
305:	learn: 1530.1005292	total: 2.62s	remaining: 1.66s
306:	learn: 1528.8336667	total: 2.63s	remaining: 1.65s
307:	learn: 1528.2716119	total: 2.63s	remaining: 1.64s
308:	learn: 1527.4811688	total: 2.64s	remaining: 1.63s
309:	learn: 1526.7699896	total: 2.65s	remaining: 1.63s
310:	learn: 1526.6743091	total: 2.66s	remaining: 1.62s
311:	learn: 1525.9025584	total: 2.67s	remaining: 1.61s
312:	learn: 1525.8346469	total: 2.67s	remaining: 1.6s
313:	learn: 1524.5508171	total: 2.68s	remaining: 1.59s
314:	learn: 1523.0019536	total: 2.69s	remaining: 1.58s
315:	learn: 1522.6477008	total: 2.7s	remaining: 1.57s
316:	learn: 1521.2636353	total: 2.71s	remaining: 1.56s
317:	learn: 1520.3275802	total: 2.71s	remaining: 1.55s
318:	learn: 1517.9167289	total: 2.72s	remaining: 1.54s
319:	learn: 1516.7485639	total: 2.73s	remaining: 1.54s
320:	learn: 1515.7817325	total: 2.74s	remaining: 1.53s
321:	learn: 1513.5052992	total: 2.75s	remaining: 1.52s
322:	learn: 1512.2970190	total: 2.76s	remaining: 1.51s
323:	learn: 1511.2917662	total: 2.77s	remaining: 1.5s
324:	learn: 1510.3533654	total: 2.77s	remaining: 1.49s
325:	learn: 1508.4176854	total: 2.78s	remaining: 1.49s
326:	learn: 1505.7567641	total: 2.79s	remaining: 1.48s
327:	learn: 1504.2116467	total: 2.8s	remaining: 1.47s
328:	learn: 1503.7649557	total: 2.81s	remaining: 1.46s
329:	learn: 1503.0107101	total: 2.82s	remaining: 1.45s
330:	learn: 1502.0784254	total: 2.83s	remaining: 1.44s
331:	learn: 1500.8260308	total: 2.83s	remaining: 1.43s
332:	learn: 1498.5054926	total: 2.84s	remaining: 1.43s
333:	learn: 1498.0253428	total: 2.85s	remaining: 1.42s
334:	learn: 1496.5373833	total: 2.86s	remaining: 1.41s
335:	learn: 1496.5300149	total: 2.87s	remaining: 1.4s
336:	learn: 1494.3597346	total: 2.87s	remaining: 1.39s
337:	learn: 1493.5366802	total: 2.88s	remaining: 1.38s
338:	learn: 1493.5159021	total: 2.89s	remaining: 1.37s
339:	learn: 1492.9182277	total: 2.9s	remaining: 1.36s
340:	learn: 1490.9852529	total: 2.91s	remaining: 1.35s
341:	learn: 1489.2988863	total: 2.91s	remaining: 1.35s
342:	learn: 1488.4074690	total: 2.92s	remaining: 1.34s
343:	learn: 1488.3831488	total: 2.93s	remaining: 1.33s
344:	learn: 1487.8169785	total: 2.94s	remaining: 1.32s
345:	learn: 1486.2239077	total: 2.94s	remaining: 1.31s
346:	learn: 1485.3893423	total: 2.95s	remaining: 1.3s
347:	learn: 1484.3660311	total: 2.96s	remaining: 1.29s
348:	learn: 1484.3498194	total: 2.97s	remaining: 1.28s
349:	learn: 1483.4853572	total: 2.98s	remaining: 1.27s
350:	learn: 1482.5916860	total: 2.98s	remaining: 1.27s
351:	learn: 1482.5122425	total: 2.99s	remaining: 1.26s
352:	learn: 1481.7568823	total: 3s	remaining: 1.25s
353:	learn: 1481.0031478	total: 3.01s	remaining: 1.24s
354:	learn: 1480.9970626	total: 3.01s	remaining: 1.23s
355:	learn: 1480.0463617	total: 3.02s	remaining: 1.22s
356:	learn: 1478.9475010	total: 3.03s	remaining: 1.21s
357:	learn: 1477.9599223	total: 3.04s	remaining: 1.2s
358:	learn: 1477.9233504	total: 3.04s	remaining: 1.2s
359:	learn: 1477.6749923	total: 3.05s	remaining: 1.19s
360:	learn: 1477.0953222	total: 3.06s	remaining: 1.18s
361:	learn: 1476.4139349	total: 3.07s	remaining: 1.17s
362:	learn: 1475.7196338	total: 3.08s	remaining: 1.16s
363:	learn: 1475.7136134	total: 3.08s	remaining: 1.15s
364:	learn: 1475.2199223	total: 3.09s	remaining: 1.14s
365:	learn: 1474.5840000	total: 3.1s	remaining: 1.14s

In [83]:
model = Sequential([
    Dense(128, activation='relu', input_shape=(x_train.shape[1],)),
    Dense(64, activation='relu'),
    Dense(32, activation='relu'),
    Dense(1, activation='linear')
])

model.compile(
    optimizer=Adam(learning_rate=0.001),
    loss='mse',
    metrics=['mae']
)

model.fit(x_train, y_train, epochs=100, validation_data=(x_test, y_test),verbose=0)

y_pred = model.predict(x_test)

print("MAE:",mean_absolute_error(y_test,y_pred))
print("RMSE:",np.sqrt(mean_squared_error(y_test,y_pred)))
r2 = r2_score(y_test, y_pred)
print("R2 Score:", r2)
print("Adjusted R2:", adjusted_r2(r2, n, p))

C:\Users\Admin\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

KeyboardInterrupt: